[buildout]
develop = .
parts = py.test releaser

[py.test]
recipe = zc.recipe.egg
script-initialization =
  import pytest
  if __name__ == '__main__': sys.exit(pytest.main())
eggs = js.jquery
       pytest

[releaser]
recipe = zc.recipe.egg:scripts
eggs = js.jquery
       py
       zest.releaser
